<form action="/users/<%= @user.id %>" method="post">
  <p>Link to image: <input type="text" name="image_link"></p>

  <p>Add tags: <input type="text" name="tags" value="tag1, tag2, tag3..."><small>(separate with commas)<p>
  <input type="submit" value="Add Photo to Profile">


</form>
